# Dependencies
node_modules/
.pnpm-store/

# Production output
dist/

# Local env & OS files
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
